webClient/Service References/ServiceReference1/WhereIsAdapterService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WhereIsAdapterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://clows/WhereIsAdapterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://clows/WhereIsAdapterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://clows/WhereIsAdapterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IG.CLP.BusinessLogic.com.whereis.ems" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWhereIsAdapterService_getMapByCentre_InputMessage">
    <wsdl:part name="parameters" element="tns:getMapByCentre" />
  </wsdl:message>
  <wsdl:message name="IWhereIsAdapterService_getMapByCentre_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMapByCentreResponse" />
  </wsdl:message>
  <wsdl:message name="IWhereIsAdapterService_geocode_InputMessage">
    <wsdl:part name="parameters" element="tns:geocode" />
  </wsdl:message>
  <wsdl:message name="IWhereIsAdapterService_geocode_OutputMessage">
    <wsdl:part name="parameters" element="tns:geocodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IWhereIsAdapterService">
    <wsdl:operation name="getMapByCentre">
      <wsdl:input wsaw:Action="http://tempuri.org/IWhereIsAdapterService/getMapByCentre" message="tns:IWhereIsAdapterService_getMapByCentre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWhereIsAdapterService/getMapByCentreResponse" message="tns:IWhereIsAdapterService_getMapByCentre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="geocode">
      <wsdl:input wsaw:Action="http://tempuri.org/IWhereIsAdapterService/geocode" message="tns:IWhereIsAdapterService_geocode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWhereIsAdapterService/geocodeResponse" message="tns:IWhereIsAdapterService_geocode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWhereIsAdapterService" type="tns:IWhereIsAdapterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMapByCentre">
      <soap:operation soapAction="http://tempuri.org/IWhereIsAdapterService/getMapByCentre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="geocode">
      <soap:operation soapAction="http://tempuri.org/IWhereIsAdapterService/geocode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WhereIsAdapterService">
    <wsdl:port name="BasicHttpBinding_IWhereIsAdapterService" binding="tns:BasicHttpBinding_IWhereIsAdapterService">
      <soap:address location="http://clows/WhereIsAdapterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>